.Rproj.user
.Rhistory
.RData
.Ruserdata
Fig1a-ExtDat1_a_c_e_g_Ch.pdf   
Fig1a-ExtDat1_a_c_e_g_In.pdf
Fig1a-ExtDat1_a_c_e_g_To.pdf
Fig1a-ExtDat1_a_c_e_g_of.pdf
Fig1a-ExtDat1_a_c_e_g_r4.pdf
Fig1a.csv                   
Fig1b-ExtDat1_b_d_f_h_Ch.pdf
Fig1b-ExtDat1_b_d_f_h_In.pdf
Fig1b-ExtDat1_b_d_f_h_To.pdf
Fig1b-ExtDat1_b_d_f_h_of.pdf
Fig1b-ExtDat1_b_d_f_h_r4.pdf
Fig1b.csv                   
Fig1c.csv                   
Fig1c.pdf                   
ExtDat2.csv                        
Fig2.csv 
ExtDat2.pdf                     
ExtDat3.csv                     
Fig2.png                        
ExtDat3.pdf  
ENTSO-E_data/2018_10_ActualTotalLoad.csv
ENTSO-E_data/2019_3_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_10_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_4_ActualTotalLoad.csv
ENTSO-E_data/2018_11_ActualTotalLoad.csv
ENTSO-E_data/2019_4_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_11_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_5_ActualTotalLoad.csv
ENTSO-E_data/2018_12_ActualTotalLoad.csv
ENTSO-E_data/2019_5_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_12_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_6_ActualTotalLoad.csv
ENTSO-E_data/2018_1_ActualTotalLoad.csv
ENTSO-E_data/2019_6_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_1_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_7_ActualTotalLoad.csv
ENTSO-E_data/2018_2_ActualTotalLoad.csv
ENTSO-E_data/2019_7_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_2_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_8_ActualTotalLoad.csv
ENTSO-E_data/2018_3_ActualTotalLoad.csv
ENTSO-E_data/2019_8_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_3_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_9_ActualTotalLoad.csv
ENTSO-E_data/2018_4_ActualTotalLoad.csv
ENTSO-E_data/2019_9_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_4_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_10_ActualTotalLoad.csv
ENTSO-E_data/2018_5_ActualTotalLoad.csv
ENTSO-E_data/2020_10_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_5_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_1_ActualTotalLoad.csv
ENTSO-E_data/2018_6_ActualTotalLoad.csv
ENTSO-E_data/2020_1_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_6_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_2_ActualTotalLoad.csv
ENTSO-E_data/2018_7_ActualTotalLoad.csv
ENTSO-E_data/2020_2_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_7_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_3_ActualTotalLoad.csv
ENTSO-E_data/2018_8_ActualTotalLoad.csv
ENTSO-E_data/2020_3_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_8_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_4_ActualTotalLoad.csv
ENTSO-E_data/2018_9_ActualTotalLoad.csv
ENTSO-E_data/2020_4_AggregatedGenerationPerType.csv
ENTSO-E_data/2018_9_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_5_ActualTotalLoad.csv
ENTSO-E_data/2019_10_ActualTotalLoad.csv
ENTSO-E_data/2020_5_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_10_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_6_ActualTotalLoad.csv
ENTSO-E_data/2019_11_ActualTotalLoad.csv
ENTSO-E_data/2020_6_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_11_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_7_ActualTotalLoad.csv
ENTSO-E_data/2019_12_ActualTotalLoad.csv
ENTSO-E_data/2020_7_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_12_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_8_ActualTotalLoad.csv
ENTSO-E_data/2019_1_ActualTotalLoad.csv
ENTSO-E_data/2020_8_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_1_AggregatedGenerationPerType.csv
ENTSO-E_data/2020_9_ActualTotalLoad.csv
ENTSO-E_data/2019_2_ActualTotalLoad.csv
ENTSO-E_data/2020_9_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_2_AggregatedGenerationPerType.csv
ENTSO-E_data/2019_3_ActualTotalLoad.csv

 
 
